
<!DOCTYPE html>
{% load static %} 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion</title>


    <link rel="stylesheet" href="{% static 'pharmacie/css/bootstrap.css' %}">
</head>

<body>

  

       
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'addvente'%}"> VENTE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">ACCUEIL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'addstock' %}">STOCK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'addappro' %}">APPROVISIONNEMENT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'pers' %}">PERSONNEL</a>
          </li>

          
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>



</div>
        {% block content%} 

 
            

        {% endblock content%}
    

    <script src="{% static 'pharmacie/js/jquery.js' %}"> </script>
    <script src="{% static 'pharmacie/js/bootstrap.js' %}"> </script>
    <script src="{% static 'pharmacie/js/popper.js' %}"> </script>
</body>

<script>
    $(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
	
	// Select/Deselect checkboxes
	var checkbox = $('table tbody input[type="checkbox"]');
	$("#selectAll").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAll").prop("checked", false);
		}
	});
});
</script>

</html>